@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
}
 
<h1>Listado de Encomiendas</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Descripsion</th>
        <th>Peso</th>
    </thead>
    @foreach (var encomienda in Model.Encomienda)
    {
        <tr>
            <td>@encomienda.Id</td>
            <td>@encomienda.Descripsion</td>
            <td>@encomienda.Peso</td>
   
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.Id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.Id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>