@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 <h1>Lista de Servicios</h1>
<table class="table table-hover">
  <thead>
    
      <th>#</th>
      <th>Id</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Encomienda</th>
  
    </thead>
    @foreach (var servicio in Model.Servicio)
    {
     <tr>
      <td>@servicio.Id</td>
      <td>@servicio.Origen</td>
      <td>@servicio.Destino</td>
      <td>@servicio.Fecha</td>
      <td>@servicio.Hora</td>
      <td>@servicio.Encomienda</td>
      <td>
        <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.Id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.Id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>

      </td>
    </tr>
    }

</table>
