@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}

<h1>Lista de Usuarios</h1>
 
<table class="table table-hover">
  <thead>
  
      <th>#</th>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Telefono</th>
    
  </thead>
  @foreach (var bus in Model.Buses)
  {
    <tr>
    <td>@usuario.Id</td>
    <td>@usuario.Nombre</td>
    <td>@usuario.Apellido</td>
    <td>@usuario.Direccion</td>
    <td>@usuario.Telefono</td>
    
    <td>
    <a class="btn btn-info" asp-page="./Details" asp-route-servicioId="@servicio.Id"><i class="fas fa-adjust"></i>Ver</a>
    <a class="btn btn-info" asp-page="./Edit" asp-route-servicioId="@servicio.Id">Editar</a>
    <a class="btn btn-danger" href="">Eliminar</a>
    </td>
    </tr>
  }

</table>
